<div class="jumbotron">
  <h1>Real time chat</h1>
  <h2>now with extra websocket!</h2>
  <p>Click away to begin your journey of adventure!</p>
  <p><%= link_to 'SIGN ME UP!', new_registration_path(:user), class: ["btn btn-primary"] %></p>
  <p>Have you ever wanted to realtime chat like never before? Well now you can!</p>
  <p>With your patented technology you can chat with <b>ALL</b> your friends</p>
</div>
